table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-collapse: collapse;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}

.clickable {
  cursor: pointer;
}

.vide {
  background-color: white;
}

.bateau {
  background-color: lightblue;
}

.touché {
  background-color: red;
}

.plouf {
  background-color: blueviolet;
}

.touché,
.plouf {
  cursor: not-allowed;
}
